@import './define.scss';
  .content
   {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height:70vh;
    gap: 0vw;
    font-size: 15px;
    padding-bottom: 10%;
    color: gray;
    img{
        display: block;
        width:100%;
        margin: 0px auto;
        border-radius: 1%;
    }
    p{
        width:100%;
        overflow: hidden;
    }
   }


@media (min-width: 1000px) {
    h1{
        font-size: getVar(--font-size) ;
    }
    h2{
        font-size: getVar(--font-size);
    }
    h3{
        font-size: getVar(--font-size) ;
    }
    h4, h5, h6{
        font-size: getVar(--font-size);
    }

   .content{
        width: 100%;
        color: #000;
        font-size: getVar(--font-size);
        
    }

}

@media (min-width: 0px) and (max-width: 1000px) {
    h1, h2, h3{
        font-size: getVar(--font-size) ;
    }
    h4, h5, h6{
        font-size: getVar(--font-size);
    }

    .codehilite{
        width:100%;
        overflow: scroll;
    }


    .content{
      width: 90%;
      margin: 0px auto;
      color: #000;
      .tip {
        color: gray;
        font-size: getVar(--font-size);
      }
    }
}