.outer {
  flex: 1;
  padding: 0.5em 1em; }

  .blogs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; }
    .blogs a {
      color: inherit; }

.blogs {
  gap: 5px;
  height: 100%;
  padding: 2vh;
  margin: 10px auto; }
  .blogs .post {
    display: flex; }
    .blogs .post .date {
      flex: 2;
      font-size: var(--font-size);
      color: gray; }
      .blogs .post .title {
        flex: 8;
        display: flex;
        font-size: var(--font-size); }
        .blogs .post .title .title {
          flex: 9; }
          .blogs .post .title .title:hover {
            color: var(--base-color); }
